.grid-container1{
    display:grid;
    grid-template-columns:auto auto auto;
    
}
.shopImgLeft{
    grid-column:1/2;
    padding-bottom: -2rem;
}
.shopImgMid{
    grid-column:2/3;
    padding-left: .75rem;
    padding-right: .75rem;
}
.shopImgRight{
    grid-column:3/4;
}
.topLeftText{
    grid-column:1/2;
    grid-row:2/3;
}
.topMidText{
    grid-column:2/3;
    grid-row:2/3;
}
.topRightText{
    grid-column:3/4;
    grid-row:2/3;
}
.botLeftText{
    grid-column:1/2;
    grid-row:5/6;
}
.botMidText{
    grid-column:2/3;
    grid-row:5/6;
}
.botRightText{
    grid-column:3/4;
    grid-row:5/6;
}
.topContainer{
    justify-self: center;
    margin-top:5rem;
    margin-right: .75rem;
}
.buyText{
    justify-self: center;
    padding-top: .75rem;
}
@font-face{
    font-family: anything;
    src: url('../Fonts/Party\ Kids.ttf');
}
body{
    font-family: anything;
    background-color:#E0C936;
}
.topIMG{
    width:200%;
}
.botIMG{
    width:80%;
    border-radius: 25px;
    margin-left: .5rem;
    padding-top:10%;
    padding-bottom:10%;
    padding-left:2%;
    padding-right:2%;
    background-color:white;
    margin-left:2rem;
}
.botMidPic{
    width:80%;
    height:100%;
}
.botLeftPic{
    width:80%;
    height:100%;
    margin-left:2rem;
}
p{
    font-size: 2rem;
    color: red;
    padding-bottom:0;
    margin-bottom:0;
}
h4{
    padding-top:1rem;
}
@media screen and (max-width: 500px){
    p{
        font-size:1.15rem;
    }
    .topIMG{
        width: 124px;
    }
    .botIMG{
        width: 124px;
        margin-left:0;
    }
    h4{
        font-size:1.15rem;
    }
    .friend{
        height: 60px;
        width: 60px;
    }
    .botLeftPic{
        width: 130px;
    }
    .botMidPic{
        margin-left:.5rem;
        width:130px;
    }
    .botRightPic{
        margin-left:.5rem;
        width:130px;
    }
    .largePic{
        width:130px;
        height:135px;
    }
}
.largePic{
    border-radius:25px;
    width:20rem;
}
.smallPic{
    border-radius:25px;
    width:20rem;
}
.medPic{
    border-radius:25px;
    width:20rem;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: #0d6efd;
    text-align: center;
  }
  .friend{
    height: 65px;
    width: 65px;
    margin-right: 5px;
}
.mainGrid{
    display:grid;
    grid-template-columns:auto auto;
    border: .25rem solid black;
    margin-top:4rem;
}
.storeMainPic{
    grid-column:1/2;
    width:30rem;
}
.storeBuyText{
    grid-column:2/3;
    grid-row:1/2;
}